{
	"singleQuote": true,
	"trailingComma": "all",
	"tabWidth": 2,
	"useTabs": false,
	"semi": true,
	"bracketSpacing": true,
	"proseWrap": "preserve",
	"htmlWhitespaceSensitivity": "strict",
	"arrowParens": "always",
	"endOfLine": "auto",
	"printWidth": 120
}
